<div class="row">
    <div class="main-content">
        <section class="section">
            <div class="section-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">STT</th>
                                            <th scope="col">Tên sản phẩm</th>
                                            <th scope="col">Hình ảnh</th>
                                            <th scope="col">Giá</th>
                                            <th scope="col">Giá khuyến mãi</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                            <td>@mdo</td>
                                            <td>
                                                <button class="btn btn-primary">Sửa</button>
                                            </td>
                                            <td>
                                                <button class="btn btn-primary">Xóa</button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                            <td>@mdo</td>
                                            <td>
                                                <button class="btn btn-primary">Sửa</button>
                                            </td>
                                            <td>
                                                <button class="btn btn-primary">Xóa</button>
                                            </td>
                                        </tr>


                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                            <td>@mdo</td>
                                            <td>
                                                <button class="btn btn-primary">Sửa</button>
                                            </td>
                                            <td>
                                                <button class="btn btn-primary">Xóa</button>
                                            </td>
                                        </tr>


                                        <tr>
                                            <th scope="row">4</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                            <td>@mdo</td>
                                            <td>
                                                <button class="btn btn-primary">Sửa</button>
                                            </td>
                                            <td>
                                                <button class="btn btn-primary">Xóa</button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">5</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                            <td>@mdo</td>
                                            <td>
                                                <button class="btn btn-primary">Sửa</button>
                                            </td>
                                            <td>
                                                <button class="btn btn-primary">Xóa</button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th scope="row">6</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                            <td>@mdo</td>
                                            <td>
                                                <button class="btn btn-primary">Sửa</button>
                                            </td>
                                            <td>
                                                <button class="btn btn-primary">Xóa</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>